/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/

@import "mixins";

$gutter: 3rem;
$G-left-gutter: 4rem;
$G-left-gutter-mobile: 3rem;
$top-container-gutter: 10rem;
$top-container-gutter-mobile: 7rem;

$border-width: 2px;
$dot-diameter: 8px;

$darkonwhite: #414042;

$Z-left: 100;
$Z-button: 101;

$C-lightblue: #009BDF;
$C-darkblue: #2F4357;
$C-yellow: #fdc930;
$C-white: #fff;
$C-primary: $C-yellow;
$C-dark: #414042;

$transform-pp-mobile: all 0.6s ease;

* {
  box-sizing: border-box;
}

html, body {
  margin: auto;
  background-color: $C-darkblue;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body {
  max-width: 1190px;
  background-color: $C-primary;
  color: $C-dark;
}

header, .container {
  display: flex;
  justify-content: center;
}

header {
  @include breakpoint(xs) {
    flex-direction: column;
  }
}

h1, h2, h3, h5, h6 {
  text-transform: uppercase;
  margin: 0;
}
h1 {
  font-size: 4.8rem;
  letter-spacing: 0.3rem;
  font-family: Montserrat, sans-serif;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;

  @include breakpoint(xs) {
    font-size: 2rem;
  }
}

h4 {
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
  line-height: 3rem;
  margin: 0;

  @include breakpoint(xs) {
    font-size: 1.8rem;
  }

  &.mini-underline {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 60px;
      height: 2px;
      background-color: $C-primary;
    }
  }
}

h5 {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  color: #2f4357;
}

h6 {
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;

  @include breakpoint(xs) {
    font-size: 1.4rem;
  }
}

h5, h2 {
  color: $darkonwhite;
  font-family: Raleway, sans-serif;
}

p, ul {
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 0;
}

span.yellow-text {
  color: $C-primary;
}

h2.left-side-title {
  background-color: $C-dark;
  color: $C-primary;
  text-align: center;
  padding: .5rem 0;
}

.white-title {
  color: white;
}

.timeline__title h5 {
  text-transform: initial;
}

.timeline__body h5 {
  margin: 1rem 0;
}

.underlined-title {
  border-bottom: 2px solid $C-primary;
  display: flex;
  align-items: center;
  padding-left: .5rem;

  h2 {
    padding: 1rem 0 1rem 2rem;
  }
}

.header-left, .header-right {
  padding: 4rem 0;
}
//============MAIN CONTAINER==========//
.container {
  position: relative;
  height: 100%;

  @include breakpoint(lt-md) {
    flex-direction: column;
  }

  .bg-menu-mobile {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 90;
    background-color: rgba(112,128,144, 0.8);
    transition: all .6s ease;

    &.bg-menu-mobile--open {
      left: 0;
      transition: all .6s ease;
      transition-delay: .3s;
    }
  }

  .row {
    display: flex;
    justify-content: flex-start;
  }

  .reco {
    display: flex;
    padding: 4rem 0;

    &__left {
      width: 50%;

      @include breakpoint(xs) {
        width: 100%;
        padding-bottom: 3rem;
      }
    }

    h5 {
      text-transform: initial;
      margin: 1rem 0;
    }

    @include breakpoint(xs) {
      flex-direction: column;
    }
  }

  .timeline {
    width: 100%;
    position: relative;
    margin-top: 30px;

    & * {
      box-sizing: border-box;
    }

    &__entry {
      clear: both;
      text-align: left;
      position: relative;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 4rem;
      @include breakpoint(lt-sm) {
        flex-direction: column;
      }

      h5 {
        @include breakpoint(lt-lg) {
          font-size: 1.3rem;
        }
        @include breakpoint(lt-md) {
          font-size: 1.5rem;
        }
      }
    }

    &__title {
      margin-bottom: .5em;
      padding-left: 2rem;
      width: 20%;
      text-align: left;
      position: relative;
      padding-right: $gutter;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: .5rem;
        background-color: $C-primary;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }

      &--actual {
        &:before {
          width: 4px;
          height: 4px;
          transform: translate(4px, 4px);
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          border: 2px solid $C-primary;
          left: 0;
          top: .5rem;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }

      @include breakpoint(lt-sm) {
        width: 100%;
        padding: 0 0 0 $gutter;
        margin: 0;

        h5 {
          font-weight: 300;
        }
      }
    }

    &__body {

      width: 66.6665%;
      padding-left: $gutter;
      @include breakpoint(lt-sm) {
        width: 100%;

        h5 {
          font-weight: 700;
        }
      }

      p {

        &:first-child {
          margin-top: 0;
          font-weight: 400;
        }

        @include breakpoint(lt-sm) {
          color: $C-darkblue;
          font-weight: 300;
        }
      }

      ul {
        padding-left: 0;
        list-style-type: none;

        li:before {
          content: ".";
          margin-right: .5em;
        }

        @include breakpoint(lt-sm) {
          color: $C-darkblue;
          font-weight: 300;
        }
      }
    }
  }

}

//================RIGHT=================//


.right {
  width: 70%;

  svg {
    fill: $C-primary;
  }

  &--padding {
    padding: 0 $G-left-gutter 0 $G-left-gutter;
    box-sizing: border-box;
    @include breakpoint(lt-sm) {
      padding-left: $G-left-gutter-mobile;
      padding-right: $G-left-gutter-mobile;
    }
  }

  &--white-bg {
    background-color: white;
    color: $C-dark;
  }

  &__top {
    margin-bottom: 5rem;
  }

  @include breakpoint(xs) {
    &__bot {
      margin-bottom: 5rem;
    }
  }

  &__title-top {
    padding-left: $G-left-gutter;

    @include breakpoint(lt-sm) {
      padding-left: $G-left-gutter-mobile;
    }
  }

  hr {
    margin-bottom: 5rem;
  }


  @include breakpoint(lt-md) {
    width: 100%;
    padding-top: 4rem;
  }
}

//=============LEFT=============//

.left {
  position: relative;
  width: 30%;
  background-color: $C-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: Roboto, sans-serif;

  @include breakpoint(lt-md) {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }

  @include breakpoint(xs) {
    flex-direction: column;

    &--transition {
      animation: closeMobileMenuXs 1.5s cubic-bezier(.37,.93,.65,1.01) forwards ;
    }
  }

  &__picture-top {
    display: flex;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0px 3px rgba(0, 0, 0, .1);
  }


  &__contact {
    width: 100%;

    @include breakpoint(lt-md) {
      width: 33.33%;
    }

    @include breakpoint(xs) {
      width: 100%;
    }

    .row {

      &__icon {
        display: flex;
        align-items: center;

        svg {
          fill: currentColor;
        }
      }

      &__libelle {
        display: flex;
        align-items: center;
        font-weight: 300;
        padding-left: $G-left-gutter;

        &--text {
          text-align: justify;
          padding-right: $G-left-gutter;
        }

        a {
          text-decoration: none;
          color: $C-dark;
        }

        &--arrow {
          padding-right: 2rem;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 15px;
            height: 2px;
            background-color: white;
          }

          &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            border: solid white;
            border-width: 0 2px 2px 0;
            padding: 2px;
            transform: translateY(-50%) rotate(-45deg);
          }
        }
      }
    }
  }

  &__loisir {
    margin-top: auto;
    width: 100%;

    @include breakpoint(lt-md) {
      margin-top: 0;
      width: 33.33%;
    }

    @include breakpoint(xs) {
      width: 100%;
    }
  }


  &__contents {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;


    .row {
      display: flex;

      &__icons {
        display: flex;
        width: 70%;
        margin: 0 auto;
        justify-content: space-between;

        @include breakpoint(lt-md) {
          flex-direction: column;
          align-items: center;
        }

        @include breakpoint(xs) {
          flex-direction: row;
        }

        .icon {
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

    .row:not(:last-child) {
      padding-bottom: 2rem;
      @include breakpoint(xs) {
        padding-bottom: 3rem;
      }
    }

  }
}


.header-left {
  width: 30%;

  @include breakpoint(lt-md) {
    background-color: $C-white;
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  @include breakpoint(xs) {
    width: 100%;
    align-items: center;
    padding-bottom: 0;
  }
}

.header-right {
  display: flex;
  align-items: center;
}
