/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/
/*********************
BREAKPOINTS
xxl : desktop
xl : desktop
lg : laptop et plus grand
md : tablet et plus grand
sm : phablet et plus grand
xs : mobile only
*********************/
* {
  box-sizing: border-box;
}

html, body {
  margin: auto;
  background-color: #2F4357;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body {
  max-width: 1190px;
  background-color: #fdc930;
  color: #414042;
}

header, .container {
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  header {
    flex-direction: column;
  }
}

h1, h2, h3, h5, h6 {
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 4.8rem;
  letter-spacing: 0.3rem;
  font-family: Montserrat, sans-serif;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
@media (max-width: 640px) {
  h2 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
  line-height: 3rem;
  margin: 0;
}
@media (max-width: 640px) {
  h4 {
    font-size: 1.8rem;
  }
}
h4.mini-underline {
  position: relative;
}
h4.mini-underline:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  background-color: #fdc930;
}

h5 {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  color: #2f4357;
}

h6 {
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
@media (max-width: 640px) {
  h6 {
    font-size: 1.4rem;
  }
}

h5, h2 {
  color: #414042;
  font-family: Raleway, sans-serif;
}

p, ul {
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 0;
}

span.yellow-text {
  color: #fdc930;
}

h2.left-side-title {
  background-color: #414042;
  color: #fdc930;
  text-align: center;
  padding: 0.5rem 0;
}

.white-title {
  color: white;
}

.timeline__title h5 {
  text-transform: initial;
}

.timeline__body h5 {
  margin: 1rem 0;
}

.underlined-title {
  border-bottom: 2px solid #fdc930;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.underlined-title h2 {
  padding: 1rem 0 1rem 2rem;
}

.header-left, .header-right {
  padding: 4rem 0;
}

.container {
  position: relative;
  height: 100%;
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}
.container .bg-menu-mobile {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 90;
  background-color: rgba(112, 128, 144, 0.8);
  transition: all 0.6s ease;
}
.container .bg-menu-mobile.bg-menu-mobile--open {
  left: 0;
  transition: all 0.6s ease;
  transition-delay: 0.3s;
}
.container .row {
  display: flex;
  justify-content: flex-start;
}
.container .reco {
  display: flex;
  padding: 4rem 0;
}
.container .reco__left {
  width: 50%;
}
@media (max-width: 640px) {
  .container .reco__left {
    width: 100%;
    padding-bottom: 3rem;
  }
}
.container .reco h5 {
  text-transform: initial;
  margin: 1rem 0;
}
@media (max-width: 640px) {
  .container .reco {
    flex-direction: column;
  }
}
.container .timeline {
  width: 100%;
  position: relative;
  margin-top: 30px;
}
.container .timeline * {
  box-sizing: border-box;
}
.container .timeline__entry {
  clear: both;
  text-align: left;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .container .timeline__entry {
    flex-direction: column;
  }
}
@media (max-width: 1280px) {
  .container .timeline__entry h5 {
    font-size: 1.3rem;
  }
}
@media (max-width: 1024px) {
  .container .timeline__entry h5 {
    font-size: 1.5rem;
  }
}
.container .timeline__title {
  margin-bottom: 0.5em;
  padding-left: 2rem;
  width: 20%;
  text-align: left;
  position: relative;
  padding-right: 3rem;
}
.container .timeline__title:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #fdc930;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.container .timeline__title--actual:before {
  width: 4px;
  height: 4px;
  transform: translate(4px, 4px);
}
.container .timeline__title--actual:after {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #fdc930;
  left: 0;
  top: 0.5rem;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .container .timeline__title {
    width: 100%;
    padding: 0 0 0 3rem;
    margin: 0;
  }
  .container .timeline__title h5 {
    font-weight: 300;
  }
}
.container .timeline__body {
  width: 66.6665%;
  padding-left: 3rem;
}
@media (max-width: 768px) {
  .container .timeline__body {
    width: 100%;
  }
  .container .timeline__body h5 {
    font-weight: 700;
  }
}
.container .timeline__body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
@media (max-width: 768px) {
  .container .timeline__body p {
    color: #2F4357;
    font-weight: 300;
  }
}
.container .timeline__body ul {
  padding-left: 0;
  list-style-type: none;
}
.container .timeline__body ul li:before {
  content: ".";
  margin-right: 0.5em;
}
@media (max-width: 768px) {
  .container .timeline__body ul {
    color: #2F4357;
    font-weight: 300;
  }
}

.right {
  width: 70%;
}
.right svg {
  fill: #fdc930;
}
.right--padding {
  padding: 0 4rem 0 4rem;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .right--padding {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.right--white-bg {
  background-color: white;
  color: #414042;
}
.right__top {
  margin-bottom: 5rem;
}
@media (max-width: 640px) {
  .right__bot {
    margin-bottom: 5rem;
  }
}
.right__title-top {
  padding-left: 4rem;
}
@media (max-width: 768px) {
  .right__title-top {
    padding-left: 3rem;
  }
}
.right hr {
  margin-bottom: 5rem;
}
@media (max-width: 1024px) {
  .right {
    width: 100%;
    padding-top: 4rem;
  }
}

.left {
  position: relative;
  width: 30%;
  background-color: #fdc930;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: Roboto, sans-serif;
}
@media (max-width: 1024px) {
  .left {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }
}
@media (max-width: 640px) {
  .left {
    flex-direction: column;
  }
  .left--transition {
    animation: closeMobileMenuXs 1.5s cubic-bezier(0.37, 0.93, 0.65, 1.01) forwards;
  }
}
.left__picture-top {
  display: flex;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.1);
}
.left__contact {
  width: 100%;
}
@media (max-width: 1024px) {
  .left__contact {
    width: 33.33%;
  }
}
@media (max-width: 640px) {
  .left__contact {
    width: 100%;
  }
}
.left__contact .row__icon {
  display: flex;
  align-items: center;
}
.left__contact .row__icon svg {
  fill: currentColor;
}
.left__contact .row__libelle {
  display: flex;
  align-items: center;
  font-weight: 300;
  padding-left: 4rem;
}
.left__contact .row__libelle--text {
  text-align: justify;
  padding-right: 4rem;
}
.left__contact .row__libelle a {
  text-decoration: none;
  color: #414042;
}
.left__contact .row__libelle--arrow {
  padding-right: 2rem;
  position: relative;
}
.left__contact .row__libelle--arrow:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 15px;
  height: 2px;
  background-color: white;
}
.left__contact .row__libelle--arrow:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 2px;
  transform: translateY(-50%) rotate(-45deg);
}
.left__loisir {
  margin-top: auto;
  width: 100%;
}
@media (max-width: 1024px) {
  .left__loisir {
    margin-top: 0;
    width: 33.33%;
  }
}
@media (max-width: 640px) {
  .left__loisir {
    width: 100%;
  }
}
.left__contents {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}
.left__contents .row {
  display: flex;
}
.left__contents .row__icons {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .left__contents .row__icons {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 640px) {
  .left__contents .row__icons {
    flex-direction: row;
  }
}
.left__contents .row__icons .icon img {
  width: 60px;
  height: 60px;
}
.left__contents .row:not(:last-child) {
  padding-bottom: 2rem;
}
@media (max-width: 640px) {
  .left__contents .row:not(:last-child) {
    padding-bottom: 3rem;
  }
}

.header-left {
  width: 30%;
}
@media (max-width: 1024px) {
  .header-left {
    background-color: #fff;
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 640px) {
  .header-left {
    width: 100%;
    align-items: center;
    padding-bottom: 0;
  }
}

.header-right {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
